<div class="d-flex flex-column justify-content-center movie-container align-items-center">

  <h1 class="text-white font-weight-bold text-center mb-5">Welcome to My <span class="text-danger">Movie🍿</span> Collection</h1>

  <div class="w-50">
    <%= form_tag results_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control p-4",
        placeholder: "What movie are you looking for?"
      %>
    <% end %>
  </div>

</div>






